*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}